## Coursera Capstone Project â€” The Battle of Neighbourhoods

## Introduction

I would like to recoomend **the best place to open a restaurant** in **New Delhi**

Restaurants should have **cinema and shopping places near by**. There should **more neighbourhood and also public transport facilities**.

There **shouldn't be many more restaurant** around the restaurant places so that it wont be overlooked and on the other places it will be more popular.

## Data

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

#import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

get_ipython().system(u' pip install beautifulsoup4')
from bs4 import BeautifulSoup as bs

import requests

!pip install lxml

!conda install -c conda-forge geocoder --yes

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries imported.

Importing data from a csv file downloaded from net

In [2]:
delhi = pd.read_csv('in.csv')
delhi.head()

,key,place_name,admin_name1,latitude,longitude,accuracy
0,IN/110001,Connaught Place,New Delhi,28.6333,77.2167,4.0
1,IN/110002,Darya Ganj,New Delhi,28.6333,77.2500,4.0
2,IN/110003,Aliganj,New Delhi,28.6500,77.2167,NaN
3,IN/110004,Rashtrapati Bhawan,New Delhi,28.6500,77.2167,NaN
4,IN/110005,Lower Camp Anand Parbat,New Delhi,28.6500,77.2000,NaN

In [3]:
lst=['Pincode', 'Place Name', 'State', 'Latitude', 'Longitude','accuracy']
delhi.columns = lst
delhi.head()

,Pincode,Place Name,State,Latitude,Longitude,accuracy
0,IN/110001,Connaught Place,New Delhi,28.6333,77.2167,4.0
1,IN/110002,Darya Ganj,New Delhi,28.6333,77.2500,4.0
2,IN/110003,Aliganj,New Delhi,28.6500,77.2167,NaN
3,IN/110004,Rashtrapati Bhawan,New Delhi,28.6500,77.2167,NaN
4,IN/110005,Lower Camp Anand Parbat,New Delhi,28.6500,77.2000,NaN

In [4]:
delhi = delhi[delhi['State']=='New Delhi'] 
delhi.head()

,Pincode,Place Name,State,Latitude,Longitude,accuracy
0,IN/110001,Connaught Place,New Delhi,28.6333,77.2167,4.0
1,IN/110002,Darya Ganj,New Delhi,28.6333,77.2500,4.0
2,IN/110003,Aliganj,New Delhi,28.6500,77.2167,NaN
3,IN/110004,Rashtrapati Bhawan,New Delhi,28.6500,77.2167,NaN
4,IN/110005,Lower Camp Anand Parbat,New Delhi,28.6500,77.2000,NaN

In [5]:
delhi = delhi[['Pincode','Place Name', 'Latitude', 'Longitude','State']]
delhi.head()

     Pincode               Place Name  Latitude  Longitude      State
0  IN/110001          Connaught Place   28.6333    77.2167  New Delhi
1  IN/110002               Darya Ganj   28.6333    77.2500  New Delhi
2  IN/110003                  Aliganj   28.6500    77.2167  New Delhi
3  IN/110004       Rashtrapati Bhawan   28.6500    77.2167  New Delhi
4  IN/110005  Lower Camp Anand Parbat   28.6500    77.2000  New Delhi

In [7]:
delhi.shape

(79, 5)